.layout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  color: white;
  display : flex;
  align-items : center;
}

.header-logo {
  background: rgba(255, 255, 255, 0.2);
  display : flex;
  align-items : center;
}

.inner {
  margin: 0 auto;
}

nz-header {
  background: #fff;
  padding: 0;
  text-align: center;
}

nz-content {
  margin: 24px 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
