.priority-1, .priority-2, .priority-3 {
  display: table-cell;
}

@media screen and (max-width: 1100px) {
  .priority-1 {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .priority-1, .priority-2 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .priority-1, .priority-2, .priority-3 {
    display: none;
  }
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}